// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.
.container-fluid {
  width: 100%;
  padding-right: 36px !important;
  padding-left: 36px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  max-width: 1440px !important;
}

@media (max-width: 1280px) {
  .container-fluid {
    padding-right: 24px !important;
    padding-left: 24px !important;
  }
}
.btn-brand {
  color: #fff;
}
